canvas { 
  padding: 15px;
}
a:not([href]) {
	color: white
}
a:not([href]):hover {
	color: white
}

body {
	background-image: url('../img/pattern-sleep.png');
	background-repeat: repeat;
  }
.bg-loader{
	background-color: white;
	min-width: 100vw;
	min-height: 100vh;
	padding-top: 50vh;
}
.bg{
	background-color: white;
	min-width: 100vw;
	min-height: 100vh;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small-margin {
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
}

.main-title {
  padding-top: 1.5vh;
  text-align: center;
  font-size: 2.5vw;
  color: whitesmoke;
}

.blue-title{
  color: DodgerBlue;
}

.sub-title {
  margin-top: 1vh;
  text-align: center;
  font-size: 0.7vw;
  color: LightSteelBlue  ;
}

.section-title{
	margin-top: 1.5vh;
	margin-left: 0.6vw;
	text-align: left;
	font-size: 1.5vw;
	color: white;
}

.form-title{
	margin-top: 1.5vh;
	text-align: center;
	font-size: 1vw;
	color: whitesmoke;
}

.tab{
  margin-left: 0.5vw;
}

.start-menu {
  font-family: 'Montserrat', sans-serif;
  min-width: 20vw;
  background-color: #32415B;
  text-align: center;
  border-radius: 1vw;
  padding: 1vw;
  border: 0.1vw solid rgb(67, 85, 117);
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, .5);
  z-index: 1
}

.top-menu{
  font-family: 'Montserrat', sans-serif;
  min-height: 10vh;
  padding-bottom: 2vh;
  min-width: 100vw;
  background-color: #32415B;
}
.message {
  font-size: 1vw;
  color: whitesmoke;
  display:inline
}
.error-message{
  padding-left: 2vw;
  font-size: 1vw;
  color: crimson;
  display:inline
}
.btton {
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0.8vw 1.6vw;
  border-radius: 0.3vw;
  font-size: 1.1vw;
  transition-duration: 0.4s;
}
.btton-presentation {
  background-color: #007bff;
}
  .btton-presentation:hover {
    background-color: #0057b4;
  }
.btton-store {
  background-color: gray;
}
  .btton-store:hover {
      background-color: rgb(97, 97, 97);
  }
.btton-like {
  background-color: #dc3545;
}
  .btton-like:hover {
    background-color: #a02430;
  }
.btton-login {
color: white;
background-color: #28a745;
}
a {
	color: white;
	}
.btton-login:hover {
	color: white;
	text-decoration: none;
	background-color: #1b7931;
} 

.input-box{
	background-color: white;
	margin-bottom: 1vw;
	border-radius: 0.6vw;
	border: 0.15vw solid rgb(67, 85, 117);
	padding: 0.2vw;
	font-size: 1vw;
	transition-duration: 0.4s;
}
.input-box:focus{
	outline: none;
	background-color: white;
	margin-bottom: 1vw;
	border-radius: 0.6vw;
	border: 0.15vw solid dodgerblue;
}
#heart {
  position: relative;
  width: 2vw;
  height: 1.8vw;
  animation: heartbeat 2s infinite;
  margin:0 auto
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 1vw;
  top: 0;
  width: 1vw;
  height: 1.6vw;
  background: #c33;
  -moz-border-radius: 1vw 1vw 0 0;
  border-radius: 1vw 1vw 0 0;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
       -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
     -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
       -o-transform-origin: 100% 100%;
          transform-origin :100% 100%;
}

@keyframes heartbeat
{
0% {transform: scale( .75 );}
20% {transform: scale( 1 );}
40% {transform: scale( .75 );}
60% {transform: scale( 1 );}
80% {transform: scale( .75 );}
100% {transform: scale( .75 );}
}


.loader{
	width: 6vw;
	height: 6vw;
	border-radius: 100%;
	position: relative;
	margin: 0 auto;
	-webkit-perspective: 7.2vw;
	-moz-perspective: 7.2vw;
	-ms-perspective: 7.2vw;
	perspective: 7.2vw;
  }
  
  .loader:before{
	content: "";
	position: absolute;
	left: 1.5vw;
	top: 1.5vw;
	width: 3vw;
	height: 3vw;
	background-color: #3498db;
	animation: flip 1s infinite;
  }
  
  @keyframes flip {
	0% {
	  transform: rotate(0);
	}
  
	50% {
	  transform: rotateY(180deg);
	}
  
	100% {
	  transform: rotateY(180deg)  rotateX(180deg);
	}
  }

  .chart-wrapper {
    padding: 2%;
    display: inline-block;
  }
  
  .main.chart-wrapper {
    width: 96%;
    height: 400px;
  }
  
  .sub.chart-wrapper {
    width: 29%;
    height: 300px;
  }



@media screen and (max-width: 768px) {

  .sub.chart-wrapper {
    width: 96%;
  }
  .main-title {
    padding-top: 3vh;
    font-size: 6vw;
  }
  
  .sub-title {
    margin-top: 1vh;
    font-size: 2.5vw;
  }
  
  .section-title{
    margin-top: 1.5vh;
    margin-left: 0.6vw;
    text-align: left;
    font-size: 4vw;
    color: white;
  }
  
  .form-title{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 3vw;
    color: whitesmoke;
  }

  .tab{
    margin-left: 1vw;
  }
  
  .start-menu {
    min-width: 40vw;
    border-radius: 2vw;
    padding: 2vw;
  }
  
  .message {
    font-size: 3vw;
}
.error-message{
  padding-left: 2vw;
  font-size: 2.5vw;
  color: crimson;
  display:inline
}
.btton {
	border: none;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	text-decoration: none;
	color: white;
	display: inline-block;
	padding: 1.6vw 3.2vw;
	border-radius: 0.6vw;
	font-size: 3vw;
	transition-duration: 0.4s;
  }
  .input-box{
    border-radius: 1.5vw;
    border: 0.3vw solid rgb(67, 85, 117);
    padding: 0.4vw;
    font-size: 3vw;
    transition-duration: 0.4s;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

#heart {
  width: 4vw;
  height: 3.6vw;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 2vw;
  top: 0;
  width: 2vw;
  height: 3.2vw;
  background: #c33;
  -moz-border-radius: 2vw 2vw 0 0;
  border-radius: 2vw 2vw 0 0;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
       -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
     -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
       -o-transform-origin: 100% 100%;
          transform-origin :100% 100%;
}
}
